* {
  margin: 0;
  padding: 0;
  max-width: 1600px;
}

.body-text {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
}
/*Shared CSS*/

.display-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
/*Nav Bar Section CSS*/
.nav-container,
.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-container {
  margin: 30px 120px;
  color: white;
}
.logo-text {
  font-size: 24px;
  font-weight: bold;
}
.logo-text span {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-ul li {
  display: flex;
  justify-content: space-between;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}
.nav-ul {
  gap: 34px;
}
.nav-ul li a {
  text-decoration: none;
  color: white;
}

.nav-src {
  height: 24px;
  width: 24px;
}

.nav-cart {
  height: 26px;
  width: 26px;
}
.feature-btn {
  width: 155px;
  height: 44px;
  color: white;
  display: flex;
  align-items: center;
  font-style: Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background-color: #e02c6d;
  gap: 12px;
  padding: 23px;
  margin-top: 12px;
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border: none;
}

.feature-btn:hover {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(145, 0, 248, 1),
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1)
    )
  );
}

/*Hero Section CSS*/
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-back {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: url(B13-A02-TechWave/assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-circle {
  width: 350px;
  height: 350px;
  z-index: 1;
}

.hero-mike {
  width: 116.67px;
  height: 175px;
  position: absolute;
  z-index: 2;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-img h1 {
  margin-top: 25px;
  font-size: 60px;
  color: white;
  font-style: Extra Bold;
}

.hero-img p {
  color: white;
  margin-top: 10px;
  margin-bottom: 25px;
  max-width: 420px;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.hero-btn a {
  text-decoration: none;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.btn-spotify {
  color: white;
  margin: 12.5px 20px 12.5px 0px;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.hero-btn .spot {
  border-radius: 50px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border: none;
}

.hero-btn svg {
  margin-left: 20px;
}
.hero-btn .subs {
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #00ff88;
}
.btn-subscribe {
  color: #00ff88;
  margin: 12.5px 20px 12.5px 0px;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
