* {
  margin: 0;
  padding: 0;
  max-width: 1600px;
}

.body-text {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
}
/*Shared CSS*/

.display-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
/*Nav Bar Section CSS*/
.nav-container,
.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-container {
  margin: 30px 120px;
  color: white;
}
.logo-text {
  font-size: 24px;
  font-weight: bold;
}
.logo-text span {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-ul li {
  display: flex;
  justify-content: space-between;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}
.nav-ul {
  gap: 34px;
}
.nav-ul li a {
  text-decoration: none;
  color: white;
}

.nav-src {
  height: 24px;
  width: 24px;
}

.nav-cart {
  height: 26px;
  width: 26px;
}
.feature-btn {
  width: 155px;
  height: 44px;
  color: white;
  display: flex;
  align-items: center;
  font-style: Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background-color: #e02c6d;
  gap: 12px;
  padding: 23px;
  margin-top: 12px;
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border: none;
}

.feature-btn:hover {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(145, 0, 248, 1),
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1)
    )
  );
}

/*Hero Section CSS*/
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-back {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: url(B13-A02-TechWave/assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-circle {
  width: 350px;
  height: 350px;
  z-index: 1;
}

.hero-mike {
  width: 116.67px;
  height: 175px;
  position: absolute;
  z-index: 2;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-img h1 {
  margin-top: 25px;
  font-size: 60px;
  color: white;
  font-style: Extra Bold;
}

.hero-img p {
  color: white;
  margin-top: 10px;
  margin-bottom: 25px;
  max-width: 420px;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.hero-btn a {
  text-decoration: none;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.btn-spotify {
  color: white;
  margin: 12.5px 20px 12.5px 0px;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.hero-btn .spot {
  border-radius: 50px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border: none;
}

.hero-btn svg {
  margin-left: 20px;
}
.hero-btn .subs {
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #00ff88;
}
.btn-subscribe {
  color: #00ff88;
  margin: 12.5px 20px 12.5px 0px;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

/*About Section CSS*/
.about-container {
  width: 1600px;
  height: 520px;
}

.about-text {
  text-align: center;
  color: white;
  margin: 60px 250px 115px 159px;
}

.about-text h2 {
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
.about-text p {
  line-height: 31px;
}

.about-analytics {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 100px 150px 30px 150px;
  gap: 195px;
}

.about-analytics h3 {
  color: #00ff88;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}

.about-analytics p {
  color: white;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/*Why Choose Section CSS*/
.why-techwave {
  padding: 80px 15%;
  background-color: #230e3d;
}

.why-techwave h2 {
  color: white;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "premium mobile mobile"
    "premium global global"
    "interview interview resources";
  gap: 24px;
}

.features-grid h3 {
  color: white;
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
}

.features-grid p {
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.card.premium {
  padding-top: 25%;
}

.features-grid .icon {
  width: 55.07px;
  height: 50px;
}
.card {
  background: linear-gradient(145deg, #2a0f45, #35105c);
  border-radius: 18px;
  padding: 28px;
}

.card h3 {
  margin: 15px 0 10px;
  font-size: 20px;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfc3ff;
}

.premium {
  grid-area: premium;
}
.mobile {
  grid-area: mobile;
}
.global {
  grid-area: global;
}
.interview {
  grid-area: interview;
}
.resources {
  grid-area: resources;
}

/*Featured Episode Section CSS*/
.featured {
  padding: 60px 8%;
}

.featured h2 {
  color: white;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.episodes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.episode-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 16px;
  transition: 0.3s;
}

.episode-card:hover {
  transform: translateY(-8px);
}

.video-box {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.episode-card h3 {
  color: white;
  font-size: 18px;
  margin: 15px 0 8px;
}

.episode-card p {
  font-size: 14px;
  color: #cfcfcf;
  line-height: 1.5;
}

.time {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 14px;
  color: #2eff8b;
  gap: 5px;
}

/*Featured Episode Section CSS*/
