* {
  margin: 0;
  padding: 0;
  max-width: 1600px;
}

.body-text {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
}
/*Shared CSS*/

.display-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
/*Nav Bar Section CSS*/
.nav-container,
.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-container {
  margin: 30px 120px;
  color: white;
}
.logo-text {
  font-size: 24px;
  font-weight: bold;
}
.logo-text span {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-ul li {
  display: flex;
  justify-content: space-between;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}
.nav-ul {
  gap: 34px;
}
.nav-ul li a {
  text-decoration: none;
  color: white;
}

.nav-ul li a:hover {
  color: rgb(253, 50, 206);
  text-decoration: none;
}

.nav-src {
  height: 24px;
  width: 24px;
}

.nav-cart {
  height: 26px;
  width: 26px;
}
.feature-btn {
  width: 155px;
  height: 44px;
  color: white;
  display: flex;
  align-items: center;
  font-style: Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background-color: #e02c6d;
  gap: 12px;
  padding: 23px;
  margin-top: 12px;
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border: none;
}

.feature-btn:hover {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(145, 0, 248, 1),
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1)
    )
  );
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-left: auto;
}

.hamburger img {
  width: 28px;
  height: 28px;
}

.mobile-btn {
  display: none;
}

/*Hero Section CSS*/
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-back {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: url(B13-A02-TechWave/assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.hero-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-circle {
  width: 350px;
  height: 350px;
  z-index: 1;
}

.hero-mike {
  width: 116.67px;
  height: 175px;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.hero-new {
  position: relative;
  left: 123px;
  top: -332px;
  z-index: 9999;
  padding: 8px 16px 8px 16px;
  background-color: #03f68f;
  border-radius: 50px;
  font-style: Semi Bold;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  border: none;
}

button.hero-new:hover {
  background: #f7d44a;
  animation: shake 0.4s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}
.hero-img h1 {
  margin-top: 25px;
  font-size: 60px;
  color: white;
  font-style: Extra Bold;
}

.hero-img p {
  color: white;
  margin-top: 10px;
  margin-bottom: 25px;
  max-width: 420px;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.hero-btn a {
  text-decoration: none;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.btn-spotify {
  color: white;
  margin: 12.5px 20px 12.5px 0px;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.hero-btn .spot {
  border-radius: 50px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border: none;
}

.hero-btn svg {
  margin-left: 20px;
}
.hero-btn .subs {
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #00ff88;
}
.btn-subscribe {
  color: #00ff88;
  margin: 12.5px 20px 12.5px 0px;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.pop-btn {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: #fff;
  cursor: pointer;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.pop-btn:hover {
  transform: scale(1.12);
  box-shadow: 0 12px 25px rgba(79, 70, 229, 0.4);
}

/*About Section CSS*/
.about-container {
  text-align: center;
  width: auto;
  height: 584px;
}
hr {
  width: 1200px;
  align-items: center;
  text-align: center;
  margin-left: 156px;
}
.about-text {
  text-align: center;
  color: white;
  margin: 60px 170px 115px 170px;
}

.about-text h2 {
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
.about-text p {
  line-height: 31px;
}

.about-analytics {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 100px 150px 30px 150px;
  gap: 195px;
}

.about-analytics h3 {
  color: #00ff88;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}

.about-analytics p {
  color: white;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/*Why Choose Section CSS*/
.why-techwave {
  padding: 80px 15%;
  background-color: #230e3d;
}

.why-techwave h2 {
  color: white;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "premium mobile mobile"
    "premium global global"
    "interview interview resources";
  gap: 24px;
}

.features-grid h3 {
  color: white;
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
}

.features-grid p {
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.card.premium {
  padding-top: 25%;
}

.features-grid .icon {
  width: 55.07px;
  height: 50px;
}
.card {
  background: linear-gradient(145deg, #2a0f45, #35105c);
  border-radius: 18px;
  padding: 28px;
}

.card h3 {
  margin: 15px 0 10px;
  font-size: 20px;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfc3ff;
}

.premium {
  grid-area: premium;
}
.mobile {
  grid-area: mobile;
}
.global {
  grid-area: global;
}
.interview {
  grid-area: interview;
}
.resources {
  grid-area: resources;
}

/*Featured Episode Section CSS*/
.featured {
  padding: 60px 8%;
}

.video-box iframe {
  width: 380px;
  height: 214px;
}

.featured h2 {
  color: white;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.episodes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.episode-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 16px;
  transition: 0.3s;
}

.episode-card:hover {
  transform: translateY(-8px);
}

.video-box {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.episode-card h3 {
  color: white;
  font-size: 18px;
  margin: 15px 0 8px;
}

.episode-card p {
  font-size: 14px;
  color: #cfcfcf;
  line-height: 1.5;
}

.time {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 14px;
  color: #2eff8b;
  gap: 5px;
}

/*Host Section CSS*/
.host-section {
  padding: 80px 20px;
  text-align: center;
}

.section-title {
  color: white;
  font-size: 42px;
  margin-bottom: 50px;
  font-weight: 700;
}

.host-card {
  max-width: 1067px;
  margin: 0 auto;
  background: #250e44;
  border-radius: 24px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.host-image img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  object-fit: cover;
}

.host-content {
  text-align: left;
}

.host-content h3 {
  color: white;
  font-size: 28px;
  margin-bottom: 12px;
}

.host-content p {
  line-height: 1.7;
  color: #d6cdee;
  margin-bottom: 20px;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  width: 36px;
  height: 36px;
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4fd8;
  text-decoration: none;
  transition: 0.3s ease;
  border: 1px solid #533c72;
}

.social-icons a:hover {
  background: #ff4fd8;
  color: #120021;
}

/*Footer Section CSS*/
.footer {
  background-image: url("B13-A02-TechWave/assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 90px 20px 45px;
  text-align: center;
  color: #ffffff;
}

.logo {
  top: -33px;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 25px;
  position: relative;
}

h1.logo {
  letter-spacing: 3px;
}

.logo span {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.platforms {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 47px;
  flex-wrap: wrap;
  margin-bottom: 22px;
  top: -34px;
}

.platforms a {
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
}

.platforms a:hover {
  color: #ff3bd4;
}

.copyright {
  position: relative;
  font-size: 13px;
  color: #b9a9d6;
  top: -20px;
}

/*Media Query for Small Devices Section CSS*/

@media (max-width: 576px) {
  /*Nav Bar Section CSS*/
  .nav-container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .hamburger {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #12002b;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
    z-index: 9999;
  }

  .nav-ul {
    flex-direction: column;
    gap: 20px;
  }

  .mobile-btn {
    display: flex;
  }

  #menu-toggle:checked ~ .nav-list {
    display: flex;
  }
  .feature-btn {
    display: none;
  }
  .desktop-subscribe {
    display: none;
  }
  .mobile-btn {
    display: flex;
  }

  /*Hero Section CSS*/
  .hero-back {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: url(B13-A02-TechWave/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    top: 23px;
  }
  .hero-container {
    position: relative;
    width: 100%;
    height: 484px;
    overflow: hidden;
  }

  .hero-circle {
    width: 200px;
    height: 200px;
    z-index: 1;
  }

  .hero-img {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  button.hero-new {
    position: relative;
    left: 95px;
    top: -184px;
    z-index: 9999;
    padding: 8px 16px 8px 16px;
    background-color: #03f68f;
    border-radius: 50px;
    font-style: Semi Bold;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    border: none;
  }
  .hero-mike {
    width: 70px;
    height: 93px;
    position: absolute;
    z-index: 2;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-img h1 {
    margin-top: 0;
    font-size: 60px;
    color: white;
    font-style: Extra Bold;
  }

  .pop-btn {
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: #4f46e5;
    color: #fff;
    cursor: pointer;
    transition:
      transform 0.25s ease,
      box-shadow 0.25s ease;
  }

  .pop-btn:hover {
    transform: scale(1.12);
    box-shadow: 0 12px 25px rgba(79, 70, 229, 0.4);
  }

  button.hero-new:hover {
    background: #f7d44a;
    animation: shake 0.4s infinite;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    50% {
      transform: translateX(4px);
    }
    75% {
      transform: translateX(-4px);
    }
    100% {
      transform: translateX(0);
    }
  }

  /*About Section CSS*/

  .about-container {
    text-align: center;
    width: auto;
    height: 520px;
  }

  hr {
    width: 400px;
    align-items: center;
    text-align: center;
    margin-left: 80px;
  }

  .about-text {
    text-align: center;
    color: white;
    margin: 60px 0px;
  }
  .about-text p {
    line-height: 31px;
    max-width: 453px;
    padding-left: 11%;
    padding-top: 20px;
  }

  .about-analytics {
    width: 458px;
    height: 208px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 59px 33px 0 76px;
    gap: 75px;
    flex-wrap: wrap;
    margin-bottom: 211px;
  }

  .average,
  .industry {
    padding-left: 18px;
  }

  .pop-btn {
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: #4f46e5;
    color: #fff;
    cursor: pointer;

    transition:
      transform 0.25s ease,
      box-shadow 0.25s ease;
  }

  .pop-btn:hover {
    transform: scale(1.12);
    box-shadow: 0 12px 25px rgba(79, 70, 229, 0.4);
  }

  /*Why Techwave Section CSS*/
  .why-techwave {
    padding: 80px 15%;
    background-color: #230e3d;
    margin-top: 220px;
  }

  .features-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "premium"
      "mobile"
      "global"
      "interview"
      "resources";
    gap: 24px;
    top: -32px;
    position: relative;
  }

  .card p {
    font-size: 14px;
    line-height: 1.6;
    color: #cfc3ff;
  }
  .card.premium {
    padding-top: 28px;
  }

  /*Why Techwave Section CSS*/

  .video-box iframe {
    width: 480px;
    height: 272px;
  }

  /*Host Section CSS*/

  .host-card {
    max-width: 900px;
    margin: 0 auto;
    background: #250e44;
    border-radius: 24px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .host-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30%;
  }
  .host-content {
    text-align: center;
  }
  .social-icons {
    display: flex;
    gap: 12px;
    padding-left: 30%;
  }
  .host-section {
    padding: 52px 20px;
    text-align: center;
  }

  /*Footer Section CSS*/
  .footer {
    background-image: url("B13-A02-TechWave/assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 0;
    text-align: center;
    color: #ffffff;
    padding: 0px 0px 38px;
  }

  .platforms {
    width: 255px;
    height: 64px;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 22px;
    top: 7px;
    left: 155px;
  }

  .logo {
    top: 27px;
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 25px;
    position: relative;
  }

  .copyright {
    position: relative;
    font-size: 13px;
    color: #b9a9d6;
    top: 9px;
  }
}
